* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}


.container {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


h1 {
    margin-bottom: 20px;
}


input[type="number"] {
    padding: 10px;
    margin-bottom: 10px;
    width: calc(100% - 22px);
    border: 1px solid #ccc;
    border-radius: 5px;
}


button {
    padding: 10px 20px;
    border: none;
    scroll-padding-block-start: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}


button:hover {
    background-color: #0056b3;
}


#passwordDisplay {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #e9ecef;
    font-family: monospace;
}